*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.galerytxt
{
    font-size: 50px;
    letter-spacing: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.galery-container
{
    position: relative;
    min-height: auto;
    background: #ddd;
    text-transform: capitalize;
}


.galery-container .galery-image-container
{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.galery-container .galery-image-container .galery-image
{
    height: 250px;
    width: 350px;
    border: 3px solid #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    overflow: hidden;
    cursor: pointer;
}


.galery-container .galery-image-container .galery-image img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}


.galery-container .galery-image-container .galery-image:hover img
{
    transform: scale(1.1);
}


.galery-container .popup-image
{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}


.galery-container .popup-image span
{
    position: absolute;
    top: 70px;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;

}


.galery-container .popup-image img
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid#fff;
    border-radius: 5px;
    width: 750px;
    height: 750px;
    object-fit: cover;
}


@media (max-width:800px)
{
    .galery-container .popup-image img
    {
        width: 95%;
    }
}